@import "libs/normalize";
@import "components/all";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

h1,
h2,
h3,
h4,
p,
span,
ul,
li {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

html,
body,
#root,
.wrapper {
	height: 100%;
	color: $black;
}

body {
	background-color: #f4f7fd;
	font-family: "Roboto", sans-serif;
	font-size: 14px;

	overflow: hidden;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}
