@import "libs/normalize";
@import "components/all";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
p,
span,
ul,
li {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

html,
body,
#root {
	height: 100%;
}

#root {
	padding: 0 10px;
}

body {
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $black;

	overflow: hidden;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}
