.auth {
	&__top {
		text-align: left;
		h2 {
			font-weight: 700;
			font-size: 28px;
		}

		&-link {
			display: flex;
			align-items: center;
			margin-top: 20px;

			p {
				font-size: 15px;
				letter-spacing: 0.1px;
				font-weight: 600;

				margin-right: 5px;

				line-height: 1;
			}

			a {
				color: #0162c4;

				font-size: 15px;
				letter-spacing: 0.1px;
				font-weight: 700;

				line-height: 1;
			}
		}
	}

	&__form {
		margin-top: 30px;

		display: flex;
		flex-direction: column;

		&-fullName {
			display: flex;
			align-items: center;

			& > div:first-child {
				margin-right: 20px;
			}

			margin-bottom: 10px;
		}
	}

	&__activation {
		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h2 {
			font-weight: 700;
			font-size: 26px;
			margin-top: 20px;
		}
		p {
			margin-top: 10px;
			letter-spacing: 0.1px;
			font-weight: 600;
		}
	}
}
