.auth {
	&__top {
		text-align: left;
		h2 {
			font-weight: 700;
			font-size: 28px;
		}

		p {
			margin-top: 20px;
			font-size: 16px;
			letter-spacing: 0.1px;
			font-weight: 600;

			line-height: 1;
		}

		// &-link {
		// 	display: flex;
		// 	align-items: center;
		// 	margin-top: 20px;

		// 	a {
		// 		color: #0162c4;

		// 		font-size: 16px;
		// 		letter-spacing: 0.1px;
		// 		font-weight: 600;

		// 		line-height: 1;
		// 	}
		// }
	}

	&__form {
		margin-top: 30px;

		display: flex;
		flex-direction: column;

		&-link {
			text-align: right;
			margin-bottom: 20px;

			font-size: 16px;
			letter-spacing: 0.1px;
			font-weight: 600;

			text-decoration: underline;
		}
	}
}
