.auth {
	&__top {
		text-align: left;
		h2 {
			font-weight: 700;
			font-size: 28px;
		}

		p {
			margin-top: 20px;
			font-size: 15px;
			letter-spacing: 0.1px;
			font-weight: 600;

			color: #637381;
		}
	}

	&__form {
		margin-top: 30px;

		display: flex;
		flex-direction: column;

		&-link {
			font-size: 16px;
			letter-spacing: 0.1px;
			font-weight: 600;

			line-height: 1;
			text-decoration: underline;
		}
	}
}
