.auth {
	&__activation {
		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		p {
			margin-top: 10px;
			letter-spacing: 0.1px;
			font-size: 18px;
			font-weight: 600;
		}

		&-link {
			margin-top: 5px;
			font-size: 16px;
			letter-spacing: 0.1px;
			font-weight: 600;
			color: #0162c4;

			text-align: left;
		}
	}
}
