.auth {
	&__activation {
		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		p {
			margin-top: 5px;
			letter-spacing: 0.1px;
			font-size: 18px;
			font-weight: 600;
		}

		&-link {
			font-size: 15px;
			letter-spacing: 0.1px;
			font-weight: 600;
		}
	}
}
