@import "../../assets/scss/components/variables";

.home {
	max-width: 1200px;
	height: 100%;

	margin: 0 auto;

	display: flex;
	border-right: 1px solid #e1e2e4;

	&__content {
		display: flex;
		align-items: flex-start;
		width: 100%;

		& > div {
			height: 100%;
		}
	}
}
