@import "../../../../assets/scss/components/variables";

.chat {
	position: relative;
	flex: 1;

	&__header {
		height: 85px;
		padding: 20px;

		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;

		border-bottom: 1px solid #f7f7f7;

		text-align: center;

		&-title {
			margin-bottom: 5px;
			font-size: 16px;
			font-weight: 600;
		}

		&-status {
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				display: block;
				content: "";
				width: 8px;
				height: 8px;
				background-color: #d3d3d3;
				border-radius: 50%;
				margin-right: 5px;
				transform: translateY(1px);
			}

			.status {
				color: #bfbfbf;
				font-size: 15px;
			}

			&_online {
				display: flex;
				align-items: center;
				justify-content: center;

				&::before {
					background-color: $green;
				}
			}
		}

		.icon {
			cursor: pointer;
			font-size: 18px;
		}
	}

	&__messages {
		position: relative;
		padding: 20px;
		padding-bottom: 0;
		height: calc(100% - 161px);
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__input {
		width: 100%;
		background-color: #fff;
		padding: 10px;

		position: absolute;
		bottom: 0;
	}
}
