@import "../../../../assets/scss/components/variables";

.chat {
  position: relative;
  flex: 1;

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 30px;

    border-radius: 10px;

    background: $white;

    display: flex;
    flex-direction: column;

    &-avatar {
      align-self: center;
      width: 200px;
      height: 200px;

      span {
        font-size: 46px;
      }
    }

    b {
      opacity: .8;
      font-size: 14px;
      text-transform: lowercase;
      font-weight: 600;

      margin-bottom: 5px;

      display: flex;
      align-items: center;
    }

    &-fullName {
      letter-spacing: .5px;
      margin-top: 15px;

      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;

      display: flex;
      flex-direction: column;

      line-height: 1;
    }

    &-email {
      font-size: 18px;
      font-weight: 600;
      margin-top: 15px;

      display: flex;
      flex-direction: column;
      line-height: 1;
    }

    &-about-me {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
    }
  }

  &__header {
    height: 85px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #eeeeee;

    text-align: center;

    &-title {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 700;

      cursor: pointer;
    }

    &-status {
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        display: block;
        content: "";
        width: 9px;
        height: 9px;
        background-color: #d3d3d3;
        border-radius: 50%;
        margin-right: 5px;
        transform: translateY(1px);
      }

      .status {
        color: #bfbfbf;
        font-size: 15px;
      }

      &_online {
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          background-color: $green;
        }
      }
    }

    .icon {
      cursor: pointer;
      font-size: 18px;
    }
  }

  .emoji {
    position: absolute;
    left: 10px;
  }
}
