@import "../../../../assets/scss/components/variables";

@keyframes animation {
	from {
		opacity: 0;
		scale: 0;
	}
	to {
		opacity: 0.5;
		scale: 1;
	}
}

.chat-input {
	background-color: $white;

	width: 100%;
	padding: 10px;

	position: absolute;
	bottom: 0;

	.input-wrapper {
		display: flex;
		align-items: center;

		border: 1px solid #e4e7ec;
		border-radius: 10px;
		padding: 15px;
		max-height: 145px;

		&__icon {
			cursor: pointer;

			opacity: 0.5;
			transition: opacity 0.25s ease-out;

			&:hover {
				opacity: 1;
			}

			animation: animation 0.25s ease-out;
		}

		&__smile {
			margin-right: 10px;
		}

		&__actions {
			display: flex;
			align-items: center;
		}

		&__camera {
			margin-right: 10px;
		}

		&:focus-within {
			outline: 1px solid $blue;
		}
	}

	.file-input {
		&_hidden {
			opacity: 0;
			height: 0;
			width: 0;
			line-height: 0;
			overflow: hidden;
			padding: 0;
			margin: 0;
			display: none;
			pointer-events: none;
			visibility: hidden;
		}
	}

	.input-images {
		margin-top: 10px;
		display: flex;
		align-items: center;

		& li {
			position: relative;
			list-style-type: none;

			&:not(:last-child) {
				margin-right: 15px;
			}

			span {
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 0;
				right: 0;

				svg {
					float: right;
				}
			}

			img {
				width: 90px;
				height: 100px;

				border-radius: 5px;

				object-fit: cover;
			}
		}
	}

	.input {
		margin-right: 10px;

		min-height: 1em;
		max-height: 97px;
		width: 100%;
		align-content: center;
		outline: none;
		overflow-x: hidden;
		overflow-y: auto;

		font-size: 15px;

		padding: 3px;
	}
}
