@import "../../../../assets/scss/components/variables";

@keyframes animation {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 0.5;
    scale: 1;
  }
}

@keyframes statusAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;

  border: 1px solid #e4e7ec;
  border-radius: 10px;
  padding: 15px;
  max-height: 145px;

  &__icon {
    cursor: pointer;

    opacity: 0.5;
    transition: opacity 0.25s ease-out;

    &:hover {
      opacity: 1;
    }

    animation: animation 0.25s ease-out;
  }

  &__smile {
    margin-right: 10px;
  }

  &__close {
    margin-right: 10px;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__attach {
    margin-right: 10px;
  }

  &:focus-within {
    outline: 1px solid $blue;
  }
}


.chat-input {
  background-color: $white;

  width: 100%;
  padding: 10px;

  position: absolute;
  bottom: 0;

  .input {
    margin-right: 10px;

    min-height: 1em;
    max-height: 97px;
    width: 100%;
    align-content: center;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;

    font-size: 15px;

    padding: 3px;
  }

  .input-record {
    margin-right: 10px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    line-height: 1;

    &__text {
      font-size: 15px;
      animation: statusAnimation 2s infinite;

      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }

    &__time {
      font-size: 13px;
      font-weight: 700;

      opacity: .7;
    }
  }

  .input-del {
    cursor: pointer;
    position: absolute;

    z-index: 10;

    svg {
      float: right;
    }
  }

  .input-image-files {
    margin-top: 10px;

    display: flex;
    align-items: center;

    .input-image__file {
      position: relative;
      list-style-type: none;

      width: 90px;
      height: 100px;

      .input-del {
        top: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.5);
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .input-audio-files {
    margin-top: 10px;

    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .input-audio__file {
      position: relative;

      background: $blue;
      box-shadow: 0 5px 5px rgba(54, 116, 255, 0.197);
      border-radius: 10px;
      padding: 15px;

      width: 320px;
      overflow: hidden;

      .input-del {
        top: 3px;
        right: 3px;
      }
    }

  }


}
