@keyframes animation {
	from {
		opacity: 0;
		scale: 0;
	}
	to {
		opacity: 0.5;
		scale: 1;
	}
}

.chat-input {
	&__emoji {
		position: absolute;
		bottom: 70px;
		z-index: 10;
	}

	.input {
		.icon {
			cursor: pointer;
			font-size: 20px;

			opacity: 0.5;
			transition: opacity 0.25s ease-out;

			&:hover {
				opacity: 1;
			}

			animation: animation 0.25s ease-out;
		}

		&__actions {
			display: flex;
			align-items: center;

			.icon {
				&:not(:last-child) {
					margin-right: 20px;
				}
			}

			// :global {
			// 	.ant-upload-list {
			// 		display: none;
			// 	}
			// }
		}
	}
}
