.chat {
	&__messages {
		position: relative;
		padding: 20px;
		padding-bottom: 10px;
		overflow-y: auto;
		overflow-x: hidden;

		&_empty {
			display: flex;
			justify-content: center;
			align-items: center;

			height: 100%;
		}
	}

	&__empty {
		width: 300px;
		height: 300px;

		text-align: center;

		p {
			margin-top: 10px;
			font-weight: 600;
			text-decoration: underline;
		}
	}
}
