.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	padding: 30px;

	background: #fff;

	&__title {
		font-weight: 600;
		font-size: 24px;
		text-align: center;
	}

	&__description {
		margin-top: 20px;
		font-weight: 500;
		font-size: 15px;
	}

	&__input {
		margin-top: 10px;

		& fieldset {
			border-radius: 10px;
		}
	}

	&__icon {
		position: absolute;
		top: 10px;
		right: 10px;

		cursor: pointer;

		svg {
			font-size: 20px;
		}
	}

	&__button {
		margin-top: 15px;

		animation: fadeIn 0.25s linear;

		padding: 10px 12px;
		letter-spacing: 0.5px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
