.dialogues {
	&__search {
		padding: 22px;

		padding-top: 0;
	}

	&__items {
		height: calc(100% - 163px);
		overflow: auto;

		&_empty {
			display: flex;
			justify-content: center;
			align-items: center;

			h3 {
				font-size: 21px;
			}
		}
	}
}
