:global {
	.ant-modal-header {
		margin: 0 !important;
	}

	.ant-typography {
		margin: 0 !important;
	}
}

.modal__title {
	text-align: center;
}

.modal__input {
	margin-top: 15px;
}

.modal__textarea {
	margin-top: 15px;
}
